<!DOCTYPE html>
<html>
<head>
  <title>HappyHour</title>
  <link href="/assets/javascripts/jquery-mobile-bower/css/jquery.mobile-1.4.2.css" media="all" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
    <%= yield %>
</div>
<%= requirejs_include_tag "application" %>
</body>
</html>
