<!DOCTYPE html>
<html>
<head>
  <title>HappyHour</title>
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/touch-icon-iphone-retina.png">
  <meta name="viewport" content="width=device-width user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
    <%= requirejs_include_tag "application" %>
</body>
</html>
